/* Media specfifc CSS */
.landing > p {
    font-size: 1.6em;
}
@media screen and (max-device-width: 720px) {
    .landing > p {
        font-size: 1.2em;
    }
}
@media screen and (max-device-width: 400px) {
    .landing > p {
        font-size: 0.9em;
    }
}

/* General CSS */
body{
    font: 1.2em/1.62 sans-serif;
}
h2 {
    font-size: 2.2em;
}
.landing > h1 {
    font-size: 2.8em;
}
.landing > p {
    line-height: 1.2;
}
.landing > hr {
    border: none;
    height: 1px;
    width: 8em;
    background-color: #333;
}
.center-contents {
    text-align: center;
}
.main-splash {
    background-color: #00B0B0;
    height: 100vh;
    margin-bottom: 25px;
    position: relative;
}
.anchor {
    display: block;
    position: relative;
    top: -20px;
    visibility: hidden;
}
.down-arrow a{
    position: fixed;
    bottom: 0px;
    left: calc(50% - 13px );
    font-size: 40px;
    color: #FFF;
    z-index: 101;
    opacity: 0.7;
}
.down-arrow a:hover {
    opacity: 1;
}
.projects h2 {
    margin-bottom: 5px;
}
.projects > .row {
    margin-bottom: 20px;
}
.project-card {
    border-radius: 5px;
    border: 0.5px solid;
    padding-top: 14px;
    padding-bottom: 7px;
    box-shadow: 2px 2px 2px #222;
    background-color: #9CEAEF;
}
.projects p {
    font-size: 0.9em;
}
.footer {
    margin-top: 50px;
}
.big-icon {
    font-size: 105pt;
}
.align-right {
    text-align: right;
}