body{
/*    margin: 0; !important
    padding: 0; !important*/
    font:1.2em/1.62 sans-serif;
}
.landing {
    
}
.landing > h1 {
    font-size:2.5em;
}
.landing > h3 {
    font-size:1.6em;
}
.landing > hr {
    border: none;
    height: 1px;
    width: 8em;
    background-color: #333;
}
.center-contents {
    text-align:center;
}