<div class="contact ">
	<div class="row center-contents">
		<div class="col">
			<h2>Contact Me</h2>
		</div>
	</div>

	<div class="row justify-content-center d-none d-lg-block center-contents">
		<div class="col-12">
			<p>{% include contact_github.html %} &nbsp;&nbsp;&nbsp; {% include contact_email.html %}</p>
		</div>
		<div class="col-12">
			<p>{% include contact_linkedin.html %} &nbsp;&nbsp;&nbsp; {% include contact_resume.html %}</p>
		</div>
	</div>

	<div class="row justify-content-center d-lg-none center-contents">
		<div class="col-12">
			<p>{% include contact_github.html %}</p>
		</div>
		<div class="col-12">
			<p>{% include contact_linkedin.html %}</p>
		</div>
		<div class="col-12">
			<p>{% include contact_email.html %}</p>
		</div>
		<div class="col-12">
			<p>{% include contact_resume.html %}</p>
		</div>
	</div>
</div>