<div class="projects">
	<div class="row center-contents">
		<div class="col">
			<h2>Projects</h2>
		</div>
	</div>

	<div class="row project-card">
		<div class="col-12 col-md-5">
			<img class="img-fluid rounded" src="img/incoming.png" alt="">
		</div>
		<div class="col-12 col-md-7">
			<h3 class="center-contents"><b><em>Incoming!</em></b></h3>
			<p><em>Incoming!</em> is a mobile and desktop game, developed in libGDX, where you attempt to jump over incoming projectiles.</p>
			<p><a href="https://github.com/matthewgarrison/incoming">GitHub source</a>.</p>
		</div>
	</div>

	<div class="row project-card">
		<div class="col-12 col-md-5 center-contents align-self-center">
			<i class="fa fa-reddit big-icon" aria-hidden="true"></i>
		</div>
		<div class="col-12 col-md-7">
			<h3 class="center-contents"><b>Probability Reddit bot</b></h3>
			<p>A Reddit bot that performs basic probability tasks, like rolling dice or flipping coins. To view it in action, follow the instructions <a href="https://github.com/matthewgarrison/Reddit-probability-bot/#usage">here</a>.</p>
			<p><a href="https://github.com/matthewgarrison/Reddit-probability-bot/">GitHub source</a></p>
		</div>
	</div>
</div>